
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre');


* { margin:0; padding:0; box-sizing:border-box;,}

body {
	font-family: Cormorant Garamond;
	font-size:18px;
}
header {
	background-color: [enter color here];
	 border: 1px black solid;
	 padding: 20px;
}
nav {
	background-color:#E8C66A;
    border: 1px black solid;
    padding: 20px;
}
section {
	background-color: #FFE2B8;
	 border: 1px black solid;
	 padding: 20px;
	 padding:5em 0;
}
#intro {
	background: url(../images/UnionStationcopyDM.JPG);
	background-size: 100%;
	color:#fff;
	height:75vh;

}
.button-1 {
	display:inline-block;
	color:black;
	margin:0 auto;
	padding:1em 3em;
	background:rgba(255,255,255,.8);
	text-decoration:none;
	border: .1em solid gray;
}
.examples {

}
h1{
	font-family: 'Proza Libre', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

h3 {

}
#pitch {

}
#contactinfo {

}
footer {
	background-color: [enter color here];
	border: 1px black solid;
	padding: 20px;
}
