.p{
	font-family: Helvetica;
	font-size: 18px;
}
.h1{
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
}

.site-logo {
	font-family:
}

#hero-image {

}
body {
	background: url(http://imgur.com/JiyZR2Z);
	background-size: cover;
}